<ion-header>
  <ion-toolbar color="primary">
    <h2 class="toolbar-title">Login</h2>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form method="post" action="" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form__group">
      <ion-label>Login
        <ion-input name="login" formControlName="login"></ion-input>
      </ion-label>
    </div>
    <div class="form__group">
      <ion-label>Password
        <ion-textarea name="password" formControlName="password"></ion-textarea>
      </ion-label>
    </div>
    <p class="form__error">{{errorMessage}}</p>
    <ion-button [disabled]="form.invalid"  class="form__submit" type="submit">Sign In</ion-button>
  </form>
</ion-content>
