// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
@import './variables.scss';

.toolbar-title {
  display: block;
  font-size: 18px;
  font-style: italic;
  text-align: center;
  margin: 10px;
  margin-top: 0;

  color: $icon-color;
}

ion-content{
   --ion-background-color: #EEE;
}

.form {
  margin-top: 35%;
}

.form__error {
  display: block;
  font-size: 12px;
  margin-top: 5px;
  color: #FF0800;

  padding: 0 16px;
}
.form__input {
  padding: 5px !important;
  margin-bottom: 10px;
  background: #fff;
}

.form__submit {
  width: 100%;
  margin-bottom: 10px;
}

.form__link {
  float: right;
  text-decoration: none;
}




