<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="isNew; else editPhotoTitle">Upload Photo</ion-title>
    <ng-template #editPhotoTitle>
      <ion-title>Edit Photo</ion-title>
    </ng-template>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <form method="post" action="" [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div *ngIf="isNew" class="form__group">
        <ion-label>Choose File
          <ion-input  type="file" formControlName="file" (change)="onFileChange($event)"></ion-input>
        </ion-label>
      </div>
      <div *ngIf="isNew && form.get('file').invalid && form.get('file').touched">
        <span *ngIf="form.get('file').errors['required']" class="form__error">Choose File</span>
        <span *ngIf="form.get('file').errors['typeError']" class="form__error">Invalid file type</span>
      </div>
      <div class="form__group">
        <ion-label>Photo Title
          <ion-input name="title" formControlName="title"></ion-input>
        </ion-label>
      </div>
      <div *ngIf="form.get('title').invalid && form.get('title').touched">
        <span *ngIf="form.get('title').errors['required']" class="form__error">Enter Title</span>
        <span *ngIf="form.get('title').errors['titleLengthError']" class="form__error">Max 50 characters</span>
      </div>
      <div class="form__group">
        <ion-label>Photo Description
          <ion-textarea name="description" formControlName="description"></ion-textarea>
        </ion-label>
      </div>
      <div *ngIf="form.get('description').invalid && form.get('description').touched">
        <span *ngIf="form.get('description').errors['descriptionLengthError']" class="form__error">Max 250 characters</span>
      </div>
      <ion-button [disabled]="form.invalid"  class="form__submit" type="submit">{{buttonText}}</ion-button>
    </form>
  </div>
</ion-content>
