@import '../../../variables.scss';

.photo {
  padding: 5px;
  background: #fff;
}
.photo__info {
  display: flex;
  justify-content: space-between;

  margin-bottom: 15px;
}

.photo__author {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #262626;
}

ion-card-title {
  display: flex;
  justify-content: space-between;
}

.photo__title {
  margin: 5px 0;
}

.photo__img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: 7%;
}

.photo__date, .photo__update-date {
  font-style: italic;
}

.photo__rating ion-icon {
  stroke: $features-color;
  fill: $features-color;
}

.photo__additional {
  display: flex;
  justify-content: space-between;
}

.photo__feedback {
  display: flex;
}

.photo-views {
  margin-right: 10px;
}

.photo__feedback ion-icon {
  margin-right: 5px;
}

.photo__controls {
  color: $features-color;
  font-weight: 900;
}

app-comments {
  display: block;
  overflow-y: scroll;
}


.upload-comment {
  display: flex;
}

.upload-comment__input {
  flex: 1;
  margin: 0 5px;
}

.upload-comment__add {
  background: transparent;
  ion-icon {
    fill: #008000;
    zoom: 2.0;
    padding: 5px 0;
  }
}