<ion-card class="photo">
    <ion-label class="photo__author">{{photo.authorName}}</ion-label>
      <ion-img  class="photo__img" [src]="photo.img"></ion-img>
      <ion-card-title class="photo__title">{{photo.title}}</ion-card-title>
      <p class="photo__text">{{photo.text}}</p>
      <div class="photo__info">
        <ion-label class="photo__date">Added {{photo.date | date: 'short'}}</ion-label>
        <div class="photo__rating">
          <ion-icon *ngFor="let photo of getStars(photo.rating).star" name="star"></ion-icon>
          <ion-icon *ngFor="let photo of getStars(photo.rating).starOut" name="star-outline"></ion-icon>
        </div>
      </div>
     <app-comments [comments]="photo.comments"></app-comments>
</ion-card>