<ion-header>
  <ion-toolbar>
    <h2 class="toolbar-title">Photo Album</h2>
    <app-sort (onchangeSortType)="changeSort($event)"></app-sort>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="!loadError; else error">
    <app-photo *ngFor="let photo of photos | photoSort: sortType" [photo]="photo"></app-photo>
  </ng-container>
  <ng-template #error>
    <p>Failed to Load</p>
  </ng-template>

</ion-content>
